{{> welcomemenu }}

<section class="ui center aligned middle aligned segment">
  <p> Sign up or Log in... {{numUsers}}</p>
</section>


<h3 class="ui center aligned header">The Tanda App now contains:
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-..."> <!-- FontAwesome library -->
    </h3>
    <div class="ui small statistics">
      <div  class="ui statistic">
        <div class="value">
          <img src="https://cdn.glitch.global/b468ca6d-6994-47f1-8b39-de80c4b197ee/playlist.png?v=1681338726267">
        </div>
        <div class="label">
           <font style="color: green">{{totalTandas}} Tandas</font>
        </div>
      </div>
      <div class="ui statistic">
        <div class="value">
         <img src="https://cdn.glitch.global/b468ca6d-6994-47f1-8b39-de80c4b197ee/musical-notes4.png?v=1681338739068">
        </div>
        <div class="label">
          <font style="color: red">{{totalMelodies}} Tangos</font> 
        </div>
      </div>
      <div class="ui yellow statistic">
        <div class="value"> 
          <img src="https://cdn.glitch.global/b468ca6d-6994-47f1-8b39-de80c4b197ee/comparative.png?v=1681338745258">
        </div>
        <div class="label">
          <font style="color: navy">{{average}} Average No of Tangos</font> 
        </div>
      </div>
      /!-- ponizsze wywalic --/
      <div class="ui yellow statistic">
        <div class="label">
          Tanda with most Tangos
        </div>
        <div class="text value">
          {{largest}}
        </div>
      </div>
      <div class="ui blue statistic">
        <div class="label">
          Tanda with least Tangos
        </div>
        <div class="text value">
          {{smallest}}
        </div>
      </div>
    </div>
