{{> menu}}
<section class="ui two column grid segment" id = "sectionGrey">
  <div class="ui column">
    <h2 class="ui header">
      Welcome to the {{ nonickname}}'s Playlist App! 
    </h2>
    <p>
      This app will allow users to create and maintain a Tango collection of Tango playlists.
    </p>
    <div class="buttons">
      <button class="ui blue button">
        Info <i class=" info icon"></i>
      </button>
      <button class="ui green button">
        Like us <i class="heart icon"></i>
      </button>
      <button class="ui red button">
        Introduce yourself! <i class="question mark icon"></i>
      </button>
    </div>
    <div id="info" class="ui message">
      <p>
        This application is created as part of the course Web App Development 1. It works with CRUD (Create, Read, Update, and Delete) functionality. It also allows to create accounts, log in and upload images into this app, and view statistics.
      </p>  
    </div>
    <div id="introduction" class="ui message"></div>
    <div class="ui divider"></div>
    
    <h3 class="ui center aligned header">{{nonickname}}'s' Tanda App now contains:
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-..."> <!-- FontAwesome library -->
    </h3>
    <div class="ui small statistics">
      <div  class="ui statistic">
        <div class="value">
          <img src="https://cdn.glitch.global/b468ca6d-6994-47f1-8b39-de80c4b197ee/playlist.png?v=1681338726267">
        </div>
        <div class="label">
           <font style="color: green">{{totalTandas}} Tandas</font>
        </div>
      </div>
      <div class="ui statistic">
        <div class="value">
         <img src="https://cdn.glitch.global/b468ca6d-6994-47f1-8b39-de80c4b197ee/musical-notes4.png?v=1681338739068">
        </div>
        <div class="label">
          <font style="color: red">{{totalMelodies}} Tangos</font> 
        </div>
      </div>
      <div class="ui yellow statistic">
        <div class="value"> 
          <img src="https://cdn.glitch.global/b468ca6d-6994-47f1-8b39-de80c4b197ee/comparative.png?v=1681338745258">
        </div>
        <div class="label">
          <font style="color: navy">{{average}} Average No of Tangos</font> 
        </div>
      </div>
      <div class="ui yellow statistic">
        <div class="label">
          Tanda with most Tangos
        </div>
        <div class="text value">
          {{largest}}
        </div>
      </div>
      <div class="ui blue statistic">
        <div class="label">
          Tanda with least Tangos
        </div>
        <div class="text value">
          {{smallest}}
        </div>
      </div>
    </div>
  </div>
  <div class="ui column">
    <div class="ui grid">
    <!-- Photo slider container -->
      <div id="photo-slider"  style="margin: 15% 1% 4%;" >
      <!-- Default image -->
        <img class="active" src="https://cdn.glitch.global/b468ca6d-6994-47f1-8b39-de80c4b197ee/white%20(2).jpg?v=1681421641807">
      <!-- Other images to be displayed in the slider -->
        <img src="https://cdn.glitch.global/b468ca6d-6994-47f1-8b39-de80c4b197ee/zt%20(4).jpg?v=1681421664158" style="display: none;">
        <img src="https://cdn.glitch.global/b468ca6d-6994-47f1-8b39-de80c4b197ee/The%20Julio%20De%20Caro%20Sextet%20(2).jpg?v=1681421634395" style="display: none;"> 
        <img src="https://cdn.glitch.global/b468ca6d-6994-47f1-8b39-de80c4b197ee/dym%20(2).jpg?v=1681421626983" style="display: none;">
        <img src="https://cdn.glitch.global/b468ca6d-6994-47f1-8b39-de80c4b197ee/DSC_0469%20(2).JPG?v=1681422828396" style="display: none;">
        <img src="https://cdn.glitch.global/b468ca6d-6994-47f1-8b39-de80c4b197ee/Zotto%20(2).jpg?v=1681421655383" style="display: none;">
        <img src="https://cdn.glitch.global/b468ca6d-6994-47f1-8b39-de80c4b197ee/Anibal%20Troilo%20(2).jpg?v=1681422822579" style="display: none;">
      </div>
    </div>
  </div>
</section>